.container2{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    text-align: center;
    width: fit-content;
}
.small-container .row .col-4 img{
    width:100%;
    height:280px;

}
.col-4 a {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
}


.col-4 a:hover {
  opacity: 0.7;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
}
.title .row .col-4 img{
  width:300px;
  height:280px;

}